.fs-upload-target {
	width: 504px;
	height: 30px;
	padding: 3px;
}

.fs-upload-input {
	display: none;
}

.ucm-media-wrapper {
	width: 504px;
}

.ucm-media-audio {
	width: 485px;
}

.ucm-media-file-delete-button {
	border: 0px;
	background: inherit;
	padding: 0;
	margin: 5px 0px 0px 2px;
	vertical-align: top;
}

.ucm-media-dialog.ui-dialog-content.ui-widget-content {
	overflow: hidden;
}

.ucm-media-frame {
	border: 0px;
	width: 100%;
	height: 100%;
}

.ucm-media-pdf, .ucm-media-video, .ucm-media-other {
	text-decoration: none;
}
